* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    background-color:white; 
    border-radius: 8px; 
    border: 1px solid black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.navbar button {
    background-color: #231f1e;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navbar button:hover {
    background-color: #2e5b31;
}




.nav-links {
    list-style: none;
    display: flex;
}



/* Responsive Styles */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
}

h2 {
    font-size: 24px;
    margin-top: 5px;
    color: #333;
    margin-bottom: 10px; 
}

p{
    font-size: 16px;

}

hr {
    border: none; 
    height: 2px; 
    background-color: #e8e5e4; 
    margin: 20px 0; 
    border-radius: 5px; 
    width: 100%; 
}


.CarName {
    font-size: 20px; 
    font-weight: bold;
    text-align: center; 
    margin: 20px 0; 
    color: #333; 
}



.form {
    background-color: #ddd; 
    border: 1px solid #8d8c8c;
    padding: 20px; 
    margin: 20px auto; 
    max-width: 400px;
}
.input {
    background-color: white;
    border: 1px solid white;
    padding: 15px;
    margin: 5px auto;
    max-width: 400px;
    display: flex; 
    flex-direction: column; 
    gap: 10px;
}

input[type="text"] {
    padding: 10px; 
    border: 1px solid #635c5c; 
    border-radius: 50px; 
    font-size: 14px; 
    width: 100%; 
    transition: border-color 0.3s; 
}

input[type="text"]:focus {
    border-color: rgba(0, 0, 0, 0.858); 
    outline: none; 
}


.nmText span {
    font-weight: bold; 
    color: #3c78e9; 
}

.nmText {
    font-size: 20px; 
    text-align: center; 
    margin: 20px 0; 
    color: #333; 
}



input[type="date"] {
    padding: 10px; 
    border: 1px solid #635c5c; 
    border-radius: 50px; 
    font-size: 14px; 
    width: 100%; 
    transition: border-color 0.3s; 
}

.dt{
    margin-top: 20px;
}



.btm {
    background-color: black;
    color: white; 
    padding: 10px 40px; 
    border: none; 
    border-radius: 30px; 
    font-size: 16px; 
    cursor: pointer;
    min-width: 360px; 
    text-align: center; 
}


.btm:active {
    transform: scale(0.95);
}


.bts {
    background-color: white;
    color: black;
    padding: 4px 30px; 
    border: none; 
    border-radius: 5px;
    font-size: 16px; 
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
    min-width: 200px; 
    text-align: center; 
}







footer {
    background-color: #f3efef; 
    color: #fff;
    padding: 20px; 
    text-align: center; 
    font-size: 14px; 
    margin-top: 20px; 
}
h1{
    color: black;
}


.OverView {
    font-size: 25px; 
    color: #333;
    line-height: 1.5; 
    margin: 10px 0; 
    max-width: 600px;
    margin-left: auto; 
    margin-right: auto; 
    text-align: left;
}



.name-input {
    display: flex; 
    border-radius: 5px; 
    overflow: hidden;
}

.first-name,
.second-name {
    flex: 1; 
    padding: 10px; 
    border: none; 
    font-size: 16px; 
}

.first-name {
    border-right: 1px solid #ccc; 
}

.first-name:focus,
.second-name:focus {
    outline: none; 
}

.second-name {
    padding-left: 15px; 
}
